@import "tailwindcss";

:root {
  --light-almond: #FDF8F0;
  --calm-green:#234D3E;
  --tan: #D4AD7B;
  --chill-black: #32302E;
  --light-green: #E8FDDA;
}

@theme inline {
  --color-light-almond: var(--light-almond);
  --color-calm-green: var(--calm-green);
  --color-tan: var(--tan);
  --color-chill-black: var(--chill-black);
  --color-light-green: var(--light-green);
  --font-clash: var(--font-clash);
  --font-satoshi: var(--font-satoshi);

  --font-clash: var(--font-clash);
  --font-satoshi: var(--font-satoshi);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-light-almond);
  color: var(--color-chill-black);
  font-family: var(--font-satoshi);
overflow-x: hidden;
}

input {
  font-family: var(--font-satoshi);
  @apply text-chill-black;
}

input::placeholder {
  @apply text-chill-black;
}

input:focus {
  @apply outline-none;
}

h1,h2,h3,h4,h5,h6,label {
  font-family: var(--font-clash);
  @apply text-calm-green tracking-tight;
}

label {
  letter-spacing: 0.07em;
}

h1 {
  letter-spacing: 0.07em;
  @apply text-4xl font-semibold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-semibold! tracking-wider;
}

button {
  font-family: var(--font-clash);
  cursor: pointer;
  font-weight: 500;
  @apply h-12 rounded-full  border-2 border-chill-black;
  transition: box-shadow 0.3s ease-in, transform 0.3s ease-in;
}

button:hover {
  box-shadow: 3px 3px 0 0 var(--color-chill-black);
  transform: translate(-3px, -3px);
  
}

.base-shadow{
  box-shadow: 2px 2px 0 0 var(--color-chill-black);
}

.outline-black {
  text-shadow:
    -1px -1px 0 var(--color-chill-black),
    0 -1px 0 var(--color-chill-black),
    1px -1px 0 var(--color-chill-black),
    -1px 0 0 var(--color-chill-black),
    1px 0 0 var(--color-chill-black),
    -1px 1px 0 var(--color-chill-black),
    0 1px 0 var(--color-chill-black),
    1px 1px 0 var(--color-chill-black);
}